@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default
  }

  html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f4f8; /* হালকা নীলাভ ধরণ */
  color: #333; /* লেখার রঙ */
}
